.chat-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #efeae2;
    .header {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        background-color: #d1d7db;
        .header__avatar {
            padding: 0 15px 0 13px;
            .avatar {
                width: 49px;
                height: 49px;
                border-radius: 100%;
            }
        }
    }

    .wrapp-messages {
        overflow-y: scroll;
        flex-grow: 3;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        .message {
            margin-bottom: 5px;
            display: flex;
            border-radius: 3px;
        }
        .flex-end{
            justify-content: flex-end;
        }
        .flex-start{
            justify-content: flex-start;
        }
        .message-income {
            border-radius: 5px;
            padding: 6px 8px;
            display: inline-block;
            background-color: #fff;
        }

        
        .message-outgoing {
            border-radius: 5px;
            padding: 6px 8px;
            display: inline-block;
            background-color: #d9fdd3;
        }
    }
    
    
    .message-text{
        display: flex;
        padding: 10px;
        background-color: #f0f2f5;
        &__input{
            padding: 10px;
            background-color: #fff;
            border-radius: 8px;
            width: 100%;
            border: none;
            margin-right: 10px;
        }
        &__button{
            border-radius: 8px;
            background-color: #efeae2;
            border: none;
            padding: 10px 11px;
            font-size: 12px;
            font-family: "Ubuntu", sans-serif;
            &:hover, &:focus{
                background-color: #bebab4;
            }
        }
    }

}
