.wrapp-search{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    background-color: #fff;

    &__button{
        position: absolute;
        right: 25px;
        border-radius: 5px;
        background-color: #efeae2;
        border: none;
        padding: 8px 11px;
        font-size: 12px;
        font-family: "Ubuntu", sans-serif;
        &:hover, &:focus{
            background-color: #bebab4;
        }
    }
    &__input{
        
        font-family: "Ubuntu", sans-serif;
        border: none;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        outline: #bdbdbd auto 1px;

        &:focus-visible{
            outline: #7d7b7b auto 1px;
        }
    }

}